fastapi==0.112.0
uvicorn==0.15.0
sqlalchemy==1.4.25
psycopg2-binary==2.9.3
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-dotenv==0.19.2
influxdb-client==1.21.0
git+https://github.com/REASON-6G/wiremq-sdk.git
git+https://github.com/REASON-6G/matching-service-client.git
pyyaml
mariadb
pymongo
pymysql
pydantic-settings==2.4.0
email-validator==2.2.0
python-multipart==0.0.9
cryptography==1.17.0
